/* 
Familia tipográfica general: 'Open Sans', sans-serif;
Familia tipográfica para títulos: 'Raleway', sans-serif;
Familia tipográfica para “Emilia Cole” en home page: 'Work Sans', sans-serif;
*/

body{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	margin: auto;
	background-image: url("img/emilia-home.jpg");
	background-size: 70% 100vh;
	background-repeat: no-repeat;
	background-position: top right;
}

.contenedor-home{
	width: 100%;
	margin: auto;
	background-image: url("img/emilia-home.jpg");
	background-size: 70% 100vh;
	background-repeat: no-repeat;
	background-position: top right;	
}

.contenedor-menu-home{
	margin-left: 50px;
}

.contenedor-menu-home nav{
	padding-top: 20px;
}

.contenedor-opciones-menu-home ul{
	margin: 0;
	padding: 0;
	padding-left: 0;
}

.contenedor-opciones-menu-home ul li{
	margin-bottom: 12px;
	list-style: none;
}

.contenedor-opciones-menu-home ul li a{
	list-style: none;
	text-decoration: none;
	color: #999;
}

.contenedor-opciones-menu-home ul li a:hover{
	color: #444;
}

.contenedor-iconos-menu-home ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	list-style: none;	
}

.contenedor-iconos-menu-home ul li{
	margin-right: 2px;
}

.contenedor-iconos-menu-home i{
	color: #000;
}

.contenedor-iconos-menu-home i:hover{
	color: #999;
}

.contenedor-titulo-superior-home{ /* EMILIA COLE */
	margin-left: 20px;
}

.contenedor-titulo-superior-home h2{ /* EMILIA COLE */
	margin-top: 110px;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	font-weight: 400;
	margin-left: 30px;
	letter-spacing: 1px;
}

.contenedor-titulo-inferior-home{ /* TWIST IN MY REALITY*/
	background-color: rgba(255, 255, 255, .5);
	width: 99%;
	margin: auto;
}

.contenedor-titulo-inferior-home h1{ /* TWIST IN MY REALITY*/
	font-family: 'Raleway', sans-serif;
	font-size: 65px;
	margin-top: 120px;
	margin-left: 10px;
}